html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   color: #8f8d91;
}

.weather-dashboard {
   background-color: #000111;
   color: #ffffff;
}

/* Initial screen load */
.first-screen-load {
   padding: 14px 16px;
}

/* Search Column Styling */

.search-section {
   background-color: #f7f5fa;
   padding: 10px 20px;
   padding-bottom: 30px;
}

.search-for-city {
   color: #000000;
   font-size: 1.25rem;
   margin-bottom: 10px;
}

input {
   padding: 10px;
   border: 1px solid #c2c0c4;
}

.previous-searches:first-child {
   border-radius: 5px;
}

.previous-searches-button {
   padding: 10px 16px;
   background-color: #ffffff;
   border: 1px solid #c2c0c4;
   
}

.previous-searches-button:hover {
   cursor: pointer;
}

.btn-secondary {
   display: block;
}

/* Main Weather Dash Styling */
.todays-weather {
   padding: 14px 16px;
   display: block;
   border: 1px solid #c2c0c4;
   border-radius: 5px;
   width: 100%;
   background-color: #57abff;
}

.main-city-info {
   font-size: 1.5rem;
   color: #fdfcff;
   font-weight: 600;
}

.todays-icon {
   height: 50px;
}

.weather-data {
   color: #000000;
   margin-bottom: 1rem;
}

.five-day-forecast {
   padding: 14px 16px;
}

.five-day-forecast-text {
   color: #000000;
}

.forecast-days {
   display: inline-block;
   padding: 7px 8px;
   margin-right: 10px;
   margin-bottom: 15px;
   border: 1px solid #0d126e;
   background-color: #1183f5;
   color: #ffffff;
   border-radius: 5px;
}



/* Media Queries */
/* @media screen and (min-width: 1054px) {
   .todays-weather {
      width: 750px;
   }
}

@media screen and (min-width: 1054px) {
   .todays-weather {
      width: 60px;
   }
}

@media screen and (max-width: 850px) {
   .todays-weather {
      width: 450px;
   }
} */

/* @media screen and (min-width: 715px) {
   .todays-weather {
      width: 100%;
   }
}

@media screen and (min-width: 575px) {
   .todays-weather {
      width: 100%;
   }
} */

@media screen and (min-width: 992px) {
   .todays-weather {
      width: 750px;
   }
}

@media screen and (max-width: 575px) {
   .search-for-city {
      text-align: center;
      font-size: 1.75rem;
      margin-bottom: 25px;
   }

   .search-section {
      padding-bottom: 0;
   }

   input {
      width: 75%;
   }

   .btn-secondary {
      font-size: 1.5rem;
      margin-top: 1rem !important;
      margin-bottom: 1rem;
   }

   .main-city-info {
      font-size: 1.75rem;
      text-align: center;
   }


}

